@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.header {
    min-height: 64px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid #000000;
    border-radius: 0px 0px 16px 16px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75);
    z-index: 9999;
}

.header-logo {
    max-height: 72px;
}

.btn {
    border: none;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.btn:active {
    opacity: 0.25;
}

.btn-primary {
    background-color: #EC2127;
    color: #FFFFFF;
}

.divider {
    background-color: #EC2127;
    height: 6px;
    width: 100%;
    border-radius: 100%;
    margin-top: 16px;
    margin-bottom: 24px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
display: none;
position: absolute;
right: 0;
background-color: #ec2128;
min-width: 148px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
border-radius: 16px;
border: 4px solid #000;
z-index: 1;
margin-right: -4px;
margin-top: 4px;
}

.dropdown-content a {
color: #FFF;
padding: 12px 16px;
text-decoration: none;
display: block;
cursor: pointer;
}

.dropdown-content a:hover {
background-color: rgba(0, 0, 0, 0.5);
}

.dropdown:hover .dropdown-content {
display: block;
}