html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}


.nav-bar {
    min-height: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
}

.logo {
    max-height: 80px;
}

.menu-button {
    background-image: url(./assets/menu.svg);
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}

.menu-button:hover {
    cursor: pointer;
}


.general-img {
    width: 100%;
    margin: none;
}



.classes-container {
    display: grid;
    margin-left: 100px;
    margin-right: 100px;

}

.card {
    border: solid 1px black;
    width: fit-content;

}

.card-img-top {

}